#to-admin {
	position: fixed;
	top: 50px;
	left: 20px;
	width: 100px;
	background-color: white;
	box-shadow: 0 0 20px #aaa;
	text-align: center;
	opacity: 0.3;

	&:hover {
		opacity: 1.0;
		box-shadow: 0 0 15px #aaa;

	}

	a {
		display: block;
		padding: 10px 5px;
		font-family: Helvetica;
		font-size: 14px;
		color: #333;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}